.wp-block-avorg-block-fav {
  @mixin setIcon($variant) {
    .dashicons-star-half {
      display: if($variant=='half', block, none);
    }
    .dashicons-star-empty {
      display: if($variant=='empty', block, none);
    }
    .dashicons-star-filled {
      display: if($variant=='filled', block, none);
    }
  }

  cursor: pointer;
  display: table;

  @include setIcon('empty');

  &.faved {
    @include setIcon('filled');
  }

  &.loading {
    opacity: .5;
    @include setIcon('empty');
  }
}