.avorg-page-search {
  .tab-control, .tab-content {
    display: none;
  }

  .tabs {
    padding-left: 0;
  }

  .tabs li {
    display: inline-block;
    margin-right: .2em;
  }

  .tabs label {
    padding: .5em;
    cursor: pointer;
    color: blue;
    border: 1px solid blue;
  }

  .tab-control:nth-child(1):checked ~ .tabs li:nth-child(1) label,
  .tab-control:nth-child(2):checked ~ .tabs li:nth-child(2) label,
  .tab-control:nth-child(3):checked ~ .tabs li:nth-child(3) label {
    background-color: blue;
    color: white;
  }

  .tab-control:nth-child(1):checked ~ .tab-contents .tab-content:nth-child(1),
  .tab-control:nth-child(2):checked ~ .tab-contents .tab-content:nth-child(2),
  .tab-control:nth-child(3):checked ~ .tab-contents .tab-content:nth-child(3) {
    display: block;
  }
}