<h1>AVORG</h1>

{% if _POST["reactivate"] %}
	{% include "molecule-noticeSuccess.html" with { message: "Plugin reactivated" } only %}
{% endif %}

{% if _POST["save-api-credentials"] %}
	{% include "molecule-noticeSuccess.html" with { message: "API credentials saved" } only %}
{% endif %}

<form method="post">
	<h3>API Credentials</h3>
	<input type="text" required name="api-user" autocomplete="username" placeholder="User" value="{{ avorg.apiUser }}" />
	<input type="password" required name="api-pass" autocomplete="current-password" placeholder="Password" value="{{ avorg.apiPass }}" />
	<input type="submit" name="save-api-credentials" value="Save credentials" />
</form>

<h3>Etc</h3>
<form method="post">
	<input type="submit" name="reactivate" value="Reactivate plugin" />
</form>