<p>
	<input
			type="text"
			placeholder="Identifier"
			name="avorgBitIdentifier"
			id="avorgBitIdentifier"
			value="{{ avorg.savedIdentifier }}"
	>
</p>

<p>A non-unique string used to reference bits from the shortcode. When more than one bit has the same identifier after
	other filters have been applied, one of the matching bits is selected at random.</p>