<div class="avorg-molecule-identifierMetaBox">
	<p>
		<input
				type="text"
				placeholder="Identifier"
				name="avorgBitIdentifier"
				id="avorgBitIdentifier"
				value="{{ avorg.savedIdentifier }}"
				list="avorgBitIdentifiers"
		>

		<datalist id="avorgBitIdentifiers">
			{% for identifier in avorg.allIdentifiers %}
				<option value="{{ identifier }}">
			{% endfor %}
		</datalist>
	</p>

	<p>A non-unique string used to reference bits from the Placeholder block. When more than one bit has the
		same identifier after other filters have been applied, one of the matching bits is selected
		at random.</p>

	{% if avorg.allIdentifiers %}
		<p>These are the identifiers which are currently in use:</p>

		<ul>
			{% for identifier in avorg.allIdentifiers %}
				<li>{{ identifier }}</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>