{% set shouldLinkTitles = (shouldLinkTitles is defined) ? shouldLinkTitles : true %}
{% set recordings = (recordings is defined) ? recordings : avorg.recordings %}

<ul class="avorg-molecule-recordingsList">
	{% for recording in recordings %}
		<li>
			{% set days = date("now").diff(date(recording.datePublished)).days %}
			{% set agePhrase = avorg._n("%1$d day ago", "%1$d days ago", days)|format(days) %}
			{% include "molecule-recordingMeta.twig" with {
				recording: recording,
				additionalInfo: agePhrase,
				shouldLinkTitle: shouldLinkTitles
			} only %}
		</li>
	{% endfor %}
</ul>