<div class="avorg-page-presenters">
	Hello World, Presenters Page
	<ul>
		{% for presenter in avorg.presenters %}
			{% set data = presenter.presenters %}
			{% set name = "#{data.givenName} #{data.surname} #{data.suffix}" %}
			<li>
				<img src="{{ data.photo256 }}" alt="{{ name }}" width="86">
				<h1 style="padding-top: 0;">{{ name }}</h1>
			</li>
		{% endfor %}
	</ul>
</div>