<form class="avorg-page-login" method="post">
    <input id="avorg-page-login__email" type="email" placeholder="Email" name="email">
    <input id="avorg-page-login__password" type="password" placeholder="Password" name="password">
    <input type="submit">
</form>