<div class="avorg-page-bible">
	<ul>
		{% for book in avorg.bible.books %}
			<li>
				{% include "molecule-mediaObject.twig" with {
					title: book.name,
					titleUrl: null,
					description: "#{book.chapters} chapters"
				} only %}
			</li>
		{% endfor %}
	</ul>
</div>