<form class="avorg-page-register" method="post">
    <input id="avorg-page-register__email" type="email" placeholder="Email" name="email"><br>
    <input id="avorg-page-register__password" type="password" placeholder="Password" name="password"><br>
    <input id="avorg-page-register__password2" type="password" placeholder="Confirm Password" name="password2"><br>
{#    <label><input type="checkbox" name="newsletter"> Receive newsletter</label><br>#}
    <input type="submit">
</form>