<div class="avorg-page-presenter">
	{% include "molecule-mediaObject.twig" with {
		image: avorg.presenter.photo256,
		imageAlt: avorg.presenter.name,
		title: avorg.presenter.name
	} only %}

	{% if avorg.presenter.description %}
		<p>{{ avorg.presenter.description }}</p>
	{% endif %}

	{% include "molecule-recordingsList.twig" with {
		recordings: avorg.presenter.presentations
	} only %}
</div>