<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
	<channel>
		<title>{{ avorg.title }}</title>
		<itunes:subtitle>AudioVerse Presentation in English</itunes:subtitle>
		<link>https://www.audioverse.org</link>
		<language>{{ avorg.language }}</language>
		<copyright>This feed Copyright 2019 AudioVerse.  Individual recordings are copyrighted by their respective owners.</copyright>
		<explicit>clear</explicit>
		<itunes:author>AudioVerse</itunes:author>
		<description>AudioVerse Presentation in English</description>
		<itunes:owner>
			<itunes:name>AudioVerse</itunes:name>
			<itunes:email>contact@audioverse.org</itunes:email>
		</itunes:owner>
		<image>{{ avorg.image }}</image>
		<itunes:image href="{{ avorg.image }}" />
		<itunes:category text="Religion &amp; Spirituality">
			<itunes:category text="Christianity" />
		</itunes:category>
		{% for recording in avorg.recordings %}
		<item>
			<title>Sebastien Braxton, Sikhu Daco, Justin Kim, Jonathan Walter: 04-Worthy Is the Lamb</title>
			<itunes:image href="http://s.audioverse.org/english/gallery/sponsors/_/1400/1400/podcast.png" />
			<itunes:subtitle>MP3 Audio, 96 kbps</itunes:subtitle>
			<itunes:author>Sebastien Braxton, Sikhu Daco, Justin Kim, Jonathan Walter</itunes:author>
			<enclosure url="https://www.audioverse.org/english/download/rss/64021/2019/01/19199/20190111-1002-19199-62d0a10ad8613029e79ae3cb4bf28793-96k.mp3" type="audio/mpeg" length="20301955" />
			<guid>19199-64021</guid>
			<pubDate>Mon, 21 Jan 2019 06:50:21 -0800</pubDate>
			<itunes:duration>1661</itunes:duration>
		</item>
		{% endfor %}
	</channel>
</rss>