<div class="avorg-page-topics">
	<ul>
		{% for topic in avorg.topics %}
			<li>
				{% include "molecule-mediaObject.twig" with {
					title: topic.title,
					titleUrl: topic.url,
					description: "#{topic.subTopicCount} Subtopics, #{topic.recordingCount} Recordings"
				} only %}
			</li>
		{% endfor %}
	</ul>
</div>