<div class="avorg-page-playlists">
	<ul>
		{% for playlist in avorg.playlists %}
			<li>
				{% include "molecule-mediaObject.twig" with {
					title: playlist.title,
					titleUrl: playlist.url
				} only %}
			</li>
		{% endfor %}
	</ul>
</div>