<ul class="avorg-shortcode-list">
	{% for recording in avorg.recordings %}
		<li>
			{% set days = date("now").diff(date(recording.publishDate)).days %}
			{% set agePhrase = avorg._n("%d day ago", "%d days ago", days)|format(days) %}
			{% include "molecule-recordingMeta.twig" with {
				presentation: recording,
				additionalInfo: agePhrase,
				shouldLinkTitle: true
			} only %}
		</li>
	{% endfor %}
</ul>